<?xml version="1.0" encoding="UTF-8"?>

<!--
Wix Toolset Pills 15mg
Copyright (C) 2019-2021 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id="*"
        Name="Installation Scenarios - WiX Toolset Pill"
        Language="1033"
        Version="2.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="10dc8e22-1c33-459c-b9fb-87807f15203b">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--<SetProperty After="SetFirstInstall" Id="Upgrading" Value="true">
            WIX_UPGRADE_DETECTED AND NOT (REMOVE="ALL")
        </SetProperty>-->
        <!--<SetProperty After="SetUpgrading" Id="Uninstalling" Value="true">
            Installed AND (REMOVE="ALL") AND NOT (WIX_UPGRADE_DETECTED OR UPGRADINGPRODUCTCODE)
        </SetProperty>-->
        <!--<SetProperty After="SetUninstalling" Id="Maintenance" Value="true">
            Installed AND NOT Upgrading AND NOT Uninstalling AND NOT UPGRADINGPRODUCTCODE
        </SetProperty>-->


        <SetProperty Id="InstallScenario" After="FindRelatedProducts" Value="true">
            NOT Installed AND NOT WIX_UPGRADE_DETECTED AND NOT WIX_DOWNGRADE_DETECTED
        </SetProperty>

        <SetProperty Id="UninstallScenario" After="SetInstallScenario" Value="true">
            REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE
        </SetProperty>

        <SetProperty Id="RepairScenario" After="SetUninstallScenario" Value="true">
            REINSTALL="ALL"
        </SetProperty>

        <SetProperty Id="MajorUpgradeUninstallScenario" After="SetRepairScenario" Value="true">
            REMOVE="ALL" AND UPGRADINGPRODUCTCODE
        </SetProperty>

        <SetProperty Id="MajorUpgradeInstallScenario" After="SetMajorUpgradeUninstallScenario" Value="true">
            WIX_UPGRADE_DETECTED
        </SetProperty>

        <SetProperty Id="MajorUpgradeScenario" After="SetMajorUpgradeInstallScenario" Value="true">
            UpgradeUninstallScenario OR UpgradeInstallScenario
        </SetProperty>

        <SetProperty Id="DowngradeScenario" After="SetMajorUpgradeScenario" Value="true">
            WIX_DOWNGRADE_DETECTED
        </SetProperty>


        <Feature Id="ProductFeature" Title="Installation Scenarios" Level="1">
            <ComponentGroupRef Id="FileComponents" />
        </Feature>

        <Binary
            Id="CustomActionsBinary"
            SourceFile="$(var.InstallationScenarios.CustomActions.TargetDir)$(var.InstallationScenarios.CustomActions.TargetName).CA.dll" />

        <InstallUISequence>
            <Custom Action="LogScenarioProperties" Before="LaunchConditions"/>
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="LogScenarioProperties" Before="LaunchConditions"/>
        </InstallExecuteSequence>

    </Product>

</Wix>
